{% extends 'base.html'%}
{% load i18n %}
{%load static%}
{% block title %} Blog | Accueil {% endblock%}
{% block content %}
<div class="container p-5">
    <div class="text-center">
        <h2 class="">{% trans 'Bienvenu sur mon blog' %}</h2>
    </div>
  <div class="row">
    <div class="col-md-2">
        <div class="container">
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
            <div class="">
                <p>{% trans "Langue" %}:</p>
                <ul class="">
                {% for language in languages %}
                    <li>
                    <a href="/{{ language.code }}/"
                        {% if language.code == CURRENT_LANGUAGE %} class="active"{% endif %}>
                        {{ language.name_local }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endblock %}