{% extends 'base.html'%}
{% load i18n %}
{%load static%}
{% block title %} Blog | Accueil {% endblock%}

{% block content %}
<div class="container p-5">
    <div class="text-center">
        <h2 class="">{% trans 'Welcome to my multilingual blog' %}</h2>
    </div>
  <div class="row">
    <div class="col-md-2">
        <div class="container">
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
            <div class="">
                <p>{% trans "Available languages" %}:</p>
                <div class="d-flex">
                {% for language in languages %}
                    <a class="mx-2" href="/{{ language.code }}/">
                        {{ language.name_local }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 mx-3">
        {% for post in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content}}</p>
                </div>
            </div>
            {% empty %}
            <p class="text-center">{% trans "No post found"%}</p>
        {% endfor %}
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
{% endblock %}